github "jonkykong/SideMenu"             "175042e"
github "hackiftekhar/IQKeyboardManager" "5cb5a26"
github "soheilbm/Firebase"              "a6278dd"
github "facebook/Facebook-SDK-Swift"    "fe6df55"
github "fabio914/GoogleSignIn-iOS"      "76a1af1"
